.page {
  height: 100vh;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  
}

.centerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bigTitle {
  font-size: 60px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}

.chatArea {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.message {
  max-width: 80%;
  padding: 18px;
  border-radius: 14px;
  font-size: 15px;
  line-height: 1.7;
}

.user {
  align-self: flex-end;
  background: #4f8ef7;
  color: white;
  padding: 10px 14px;
}


.bot {
  align-self: center;
  background: #f3f4f6;
  color: #333;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.bot div {
  margin-bottom: 8px;
}

.inputContainer {
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);

  width: 700px;
  height: 52px;

  background: #ffffff;
  border-radius: 30px;

  display: flex;
  align-items: center;
  padding: 0 12px;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

.inputContainer input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 14px;
  background: transparent;
}

.icon {
  font-size: 18px;
  margin: 0 10px;
  color: #6b7280;
}

.sendBtn {
  background: #f4b400;
  border: none;
  color: white;

  width: 38px;
  height: 38px;

  border-radius: 10px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.sendBtn:hover {
  background: #e0a800;
}